{% load static from staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Student Account Service" %}</title>
    <meta name="description" value="{% trans "App to manage students database" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Styles-->
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
    
    {% block extra_css %}{% endblock extra_css %}

</head>

<body>    
    <!-- Start Container -->
    <div class="container">

        <!-- Start Header -->
        <div class="row" id="header">

            <!-- Logo -->
            <div class="col-xs-6">
                <h1>{% block logo %}{% trans "Student Account Service" %}{% endblock logo %}</h1>
            </div>

            {% if user.is_authenticated %}
            <!-- Groups Selector -->
            {% block menu_groups %}
            <div class="col-xs-4" id="group-selector">
                <strong>{% trans "Group:" %}</strong>
                <select>
                    <option value="">{% trans "All Students" %}</option>
                    {% for group in GROUPS %}
                    <option value="{{ group.id }}" {% if group.selected %}selected="1"{% endif %}>{{ group.title }}{% if group.leader %}, {{ group.leader }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            {% endblock menu_groups %}
            <!-- User's toolbar for authenticated users -->
            <div class="col-xs-2" id="user-toolbar">
                <a href="{% url 'profile' %}">{{ user.get_full_name|default:user.username }}</a> |
                <a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a>
            </div>

            {% else %}

            <!-- User's toolbar for anonymous users -->
            <div class="col-xs-6" id="user-toolbar">
                <a href="{% url 'auth_login' %}">{% trans "Login" %}</a> |
                <a href="{% url 'registration_register' %}">{% trans "Signup" %}</a>
            </div>
            {% endif %}
        </div>

        <!-- Select language -->
        <div class="row">
            <div class="col-xs-2" id="lang">
                <span><a href="{% url 'lang' 'uk' %}"><img src="{% static 'img/uk.svg' %}" width="25" height="25">{% trans "Uk" %}</a></span>
                <span><a href="{% url 'lang' 'ru' %}"><img src="{% static 'img/ru.svg' %}" width="25" height="25">{% trans "Ru" %}</a></span>
                <span><a href="{% url 'lang' 'en' %}"><img src="{% static 'img/en.svg' %}" width="25" height="25">{% trans "En" %}</a></span>
            </div>
        </div>
        <!-- End Header -->

            <!-- Start SubHeader -->
            {% with LANGUAGE_CODE as lang_code %}
            <div class="row" id="sub-header">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" role="tablist" id="nav-tabs">
                        {% url "home" as home_url %}
                        {% url "journal" as journal_url %}
                        {% url "groups" as groups_url %}
                        {% url "exams" as exams_url %}
                        {% url "contact_admin" as contact_admin_url %}
                        <li role="presentation" class="ajax-load" {% if request.path == home_url %}class="active"{% endif %}><a href="{% url 'home' %}">{% trans "Students" %}</a></li>
                        {% if user.is_authenticated %}
                        <li role="presentation" class="ajax-load" {% if journal_url in request.path %}class="active"{% endif %}><a href="{% url 'journal' %}">{% trans "Journal" %}</a></li>
                        <li role="presentation" class="ajax-load" {% if groups_url in request.path %}class="active"{% endif %}><a href="{% url 'groups' %}">{% trans "Groups" %}</a></li>
                        <li role="presentation" class="ajax-load" {% if exams_url in request.path %}class="active"{% endif %}><a href="{% url 'exams' %}">{% trans "Exams" %}</a></li>
                        {% endif %}
                        {% if perms.auth.add_user %}
                        <li role="presentation" class="ajax-load" {% if contact_admin_url in request.path %}class="active"{% endif %}><a href="{% url 'contact_admin' %}">{% trans "Contacts" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endwith %}
            <!-- End SubHeader -->

        <!-- Start Content Columns -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">
                
                <!-- Status Message -->
                {% block status_message %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endblock %}

                <h2>{% block title %}{% endblock title %}</h2>
                {% block title_2 %}{% endblock title_2 %}
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!-- End Content Columns -->

        <!-- Start Footer -->
        {% block footer %}
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2019 {% trans "Student Account Service" %}
            </div>
        </div>
        {% endblock footer %}
        <!-- End Footer -->

    </div>
    <!-- End Container -->

    <!-- Modal Boilerplate -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
                </div>
                <div class="modal-body"><!-- --></div>
                <div class="modal-footer"><!-- --></div>
            </div>
        </div>
    </div>

    <!-- Javascripts Section -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
{#    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock extra_js%}
</body>
</html>
