{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Видалити Екзамен{% endblock meta_title %}

{% block title %}Видалити Екзамен{% endblock title %}

<!-- Status Message -->
{% block status_message %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}", "messages" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

<form action="{% url 'exams_delete' object.id %}" method="post">
    {% csrf_token %}

    <p>Ви дійсно хочете видалити "{{ object }}"?</p>

    <input type="submit" value="Так" name="delete_button" class="btn btn-danger">

</form>

{% endblock content %}
