{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Groups" %}{% endblock meta_title %}

{% block title %}{% trans "Accounting Visits" %}{% endblock title %}

{% block content %}

    {% if not students %}
        {% url 'students_add' as students_add %}

        <div class="alert alert-warning">{% blocktrans %}There is no student at the base yet. Please,
            <a href="{{ students_add }}">add</a> first.{% endblocktrans %}
        </div>

    {% else %}

        <div class="alert alert-warning">
            {% trans "Changes to the log are saved automatically with each click in the cell of the table." %}
            <span id="ajax-progress-indicator">{% trans "Saving..." %}</span>
        </div>

        <div class="alert alert-danger" id="error_message">{% trans "An error occurred" %}
        </div>

        <!-- Progress spinner -->
        {% include "students/progress_spinner.html" %}


        <p id="journal-nav" class="text-center">
            <a href="?month={{ prev_month }}" title="{% trans 'Previous Month' %}">&larr;</a>
            <!-- TODO: translate month name -->
            <strong>{{ month_verbose }} {{ year }}</strong>
            <a href="?month={{ next_month }}" title="{% trans 'Next Month' %}">&rarr;</a>
        </p>

        <table class="table table-hover table-striped table-bordered" id="students-journal">

            <thead>
            <tr class="header">
                <th class="num">№</th>
                <th class="name">{% trans "Student" %}</th>
                {% for day in month_header %}
                    <th class="day-header">
                        {% trans day.verbose %}
                        <br/>
                        {{ day.day }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% csrf_token %}

            {% for student in students %}
                <tr>

                    <td>
                        {% if is_paginated %}
                            {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                        {% else %}
                            {{ forloop.counter }}
                        {% endif %}
                    </td>

                    <td>
                        <a title="{% trans 'Edit' %}" target="_blank"
                           href="{% url 'students_edit' student.id %}" class="student-edit-form-link">{{ student.fullname }}
                        </a>
                    </td>

                    {% for day in student.days %}
                        <td class="day-box">
                            <label>
                                <input type="checkbox" data-student-id="{{ student.id }}" data-date="{{ day.date }}"
                                       data-url="{{ student.update_url }}" value="1"{% if day.present %}
                                       checked="checked" {% endif %}>
                            </label>
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endif %}

    {% with object_list=students %}
        {% include "students/pagination.html" %}
    {% endwith %}

{% endblock content %}
