{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block title_2 %}<h5 align="center">&#8656; Липень 2018 &#8658;</h5>{% endblock title_2 %}

{% block content %}

<!-- Start Journal -->
<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th><a href="">№</a></th>
			<th><a href="">Студент</a></th>
			<th>Нд 1</th>
			<th>Пн 2</th>
			<th>Вт 3</th>
			<th>Ср 4</th>
			<th>Чт 5</th>
			<th>Пт 6</th>
			<th>Сб 7</th>
			<th>Нд 8</th>
			<th>Пн 9</th>
			<th>Вт 10</th>
			<th>Ср 11</th>
			<th>Чт 12</th>
			<th>Пт 13</th>
			<th>Сб 14</th>
			<th>Нд 15</th>
			<th>Пн 16</th>
			<th>Вт 17</th>
			<th>Ср 18</th>
			<th>Чт 19</th>
			<th>Пт 20</th>
			<th>Сб 21</th>
			<th>Нд 22</th>
			<th>Пн 23</th>
			<th>Вт 24</th>
			<th>Ср 25</th>
			<th>Чт 26</th>
			<th>Пт 27</th>
			<th>Сб 28</th>
			<th>Нд 29</th>
			<th>Пн 30</th>
			<th>Вт 31</th>
		</tr>
	</thead>
	<tbody>
		{% for journal in visitings %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a title="Редагувати" href="{% url 'students_edit' journal.id %}">{{ journal.full_name }}</a></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
			<td><p><input type="checkbox"></p></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!-- End Journal -->

{% endblock content %}