{% if is_paginated %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav class="pagination2">
	<ul class="pagination">
		<li>
            <a href="?page=1{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" class="pagin">&laquo;</a>
        </li>
        {% for p in object_list.paginator.page_range %}
        <li {% if object_list.number == p %}class="active"{% endif %}>
            <a href="?page={{ p }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" class="pagin">{{ p }}</a>
        </li>        
        {% endfor %}
        <li>
            <a href="?page={{ paginator.num_pages }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" class="pagin">
            &raquo;</a>
        </li>
	</ul>
</nav>
{% endwith %}
{% endif %}
