{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Редагувати Студента{% endblock meta_title %}

{% block title %}Редагувати Студента{% endblock title %}

<!-- Status Message -->
{% block status_message %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock content %}
