{% extends "students/base.html" %}
{% load i18n %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{{ uuser.username }}{% endblock %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="col">
        <a href="{% url 'profile_extra_edit' %}">{% trans 'Extra settings' %}</a>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data"
              class="form-horizontal">
            <div class="form-group">
                <table>
                    {% csrf_token %}
                    {% crispy form %}
                </table>
            </div>
        </form>
        <div class="col">
            <a class="btn btn-default" id="change-password"
               href="{% url 'auth_password_change' %}"
               role="button">{% trans 'Change password' %}</a>
        </div>
    </div>

{% endblock %}