{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Contact the Administrator" %}{% endblock meta_title %}

{% block title %}{% trans "Contact the Administrator" %}{% endblock title %}

<!-- Status Message -->
{% block status_message %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %}

{% block content %}

{% crispy form %}

<!--<form action="{% url 'contact_admin' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Надіслати" name="send_button">
</form>-->

{% endblock content %}
